$phone: 599px
$tablet-portrait: 599px
$tablet-landscape: 899px
$desktop: 1439px

$font-default: Quicksand, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

$color-dark: #333
$color-default: #333
$color-additional: #460a69
$color-accent: #00ffb8
$color-text: #fff

$body-bg: #333

$container-max-width: 1440px
$gap: 8px

$transition-base: all .2s ease
