$phone: 599px
$tablet-portrait: 599px
$tablet-landscape: 899px
$desktop: 1439px

$font-default: monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

$color-dark: #222
$color-light: #fff
$color-default: #222
$color-accent: #61f0d4
$color-accent-1: #d51f68
$color-accent-2: #6ad7d6
$color-accent-3: #ba29e0
$color-text: #222
$color-text-dark: #7d86a4

$body-bg: #f8edd7
$body-bg-1: #f4d5d1

$container-max-width: 1440px
$gap: 8px

$transition-base: all .2s ease
